<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Página Inicial</title>
</head>
<body>
  <h1>POC de Proteção CSRF</h1>
  <a href="/form">Ir para o Formulário</a>
</body>
</html>
